/*-- scss:defaults --*/

@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,300i,400,400i,500,500i,700,700i);
@import url(https://cdn.rawgit.com/tonsky/FiraCode/1.204/distr/fira_code.css);
@import url(https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600;700&family=Fira+Sans+Condensed:wght@300;400;600;700&family=Noto+Sans:wght@200;300;400;600;700&family=Raleway:wght@400;500;600;700&family=Roboto:wght@300;400;500;700&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap);
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tauri&family=Teko:wght@300..700&display=swap');

// fonts

// colors

$uo-green: #007030; // UO-Green 
$uo-yellow: #FEE11A; // UO-Yellow
$light-green: #D1D9CE;
$cream: #f4f1ea;
$gray: #64605f;
$purple: #9158A2;
$orange: #ad7237;


$body-bg: $cream ; // page background
$body-color: #2E3440 ; // text color
$link-color: $uo-green ; // hyperlinks
$link-color-hover: #b48ead ; // hypelink hover color
$selection-bg: #5E81AC ;
$code-bg: #F5F5F5 ;
$code-color: #5E81AC ;
$navbar-bg: $uo-green ; // navigation bar
$navbar-hl: $uo-yellow; // highlight color when hovering over navbar links

// Centers text
.text-center {
  text-align: center;
}

.cv-download {
  background-color: $uo-green !important; /* Green color */
  border-color: $cream !important;
  color: $uo-yellow !important;
  font-weight: bold !important; /* Make text bold */
  display: inline-flex; /* Allows better alignment for text and icons */
  align-items: center; /* Vertical centering */
  justify-content: center; /* Horizontal centering */
  text-align: center; /* Ensure text is centered */
  padding: 10px 20px; /* Add padding for better spacing */
  border-radius: 10px !important; /* Rounded corners */
}

.cv-download:hover {
  background-color: #45a049 !important; /* Slightly darker green on hover */
  border-color: #45a049 !important;
}

/*-- Types --*/
.note {
  font-family: 'Zilla Slab' !important;
  font-weight: 300;
  // font-style: italic;
  color: #314f4f !important;
  // font-size: 32px;
}
.note h1 {
  font-family: 'Zilla Slab' !important;
}
.ex {
  color: #ccc !important;
  font-style: italic;
  font-weight: 500;
}
.pseudocode, .pseudocode-small {
  font-family: 'Fira Code';
  background: #f8f8f8;
  border-radius: 3px;
  padding: 10px;
}
.pseudocode-small {
  font-size: 20px;
}
.sub {
  font-size: 75%;
  vertical-align: sub;
  line-height: 0;
}
.tiny {
  font-size:24px;
}
.small {
  font-size:28px;
}
.large {
  font-size:30px;
  font-weight: 350;
}
.big {
  font-size: 38px;
  font-weight: 400;
}
.realbig {
  font-size: 60px;
  font-weight: 400;
}
.huge {
  font-size: 100px;
  font-weight: 400;
}
.mono {
  font-family: monospace;
}


/*-- Highlight colors --*/
.h {
  font-weight: 600;
  color: #2e3440;
}
.hi {
  font-weight: 600;
  color: #4c566a
}
.hii {
  font-weight: 600;
  color: #81A1C1;
}
.hi-teal {
  font-weight: 600;
  color: #8FBCBB;
}
.hi-bb {
  font-weight: 600;
  color: #88C0D0;
}
.hp {
  font-weight: 600;
  color: #b48ead !important;
}
.hi-green {
  font-weight: 600;
  color: #A3BE8C;
}
.hi-red {
  font-weight: 600;
  color: #BF616A;
}
.hi-orange {
  font-weight: 600;
  color: #D08770;
}
.hi-yellow {
  font-weight: 600;
  color: #EBCB8B;
}
.hi-white {
  font-weight: 600;
  color: #ffffff !important;
}
.hi-grey {
  font-weight: 600;
  color : #7f7f7f !important;
}
.hi-blue {
  font-weight: 600;
  color : #81A1C1 !important;
}
.indent {
  text-indent: 2em;   /* indent first line */
  margin-left: 2em;   /* indent whole block */
}

.navbar .dropdown-menu .dropdown-item {
  padding-left: 1.5rem;
}

/* Change the left border (bar) color for tips */
.callout-tip {
  border-left: 4px solid $uo-green;  /* set your desired color */
}


/* slideshow stuff */
.mySlides {
  display: none;
  width: 100%;
  height: 400px;
  object-fit: contain; /* fit entire image */
  background-color: #f5f5f5; /* background fill around images */
  border-radius: 12px;
}